*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-login {
    display:flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;  
}

.container-top-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

#logo-login{
    justify-content: center;
    align-items: center;
    width: 80%;
}

.container-top-subtitle{
    color: #081E26;
    font-size: 1.1rem; 
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.box-login {
    width: 100%;  
    height: 100%;
    background-image: url('../images/image_back_login.jpg');
    background-size: 100% 100%;
}

.box-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.form-login {
    width: 95%;  
    height: 80%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.container-email-password{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;    
}

#email-user{
    width: 80%;
    height: 9%;
    border: none;
    border-radius: 5px;  
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#password-user{
    width: 80%;
    height: 9%;
    margin: 20px;
    border: none;
    border-radius: 5px;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    color: #ffffffa3;
}

#btn-submit {  
    padding: 9px;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    align-items: center;
    background: rgba(45, 43, 43, 0.647);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#forgot-password{
    display: flex;
    margin: 5%;
    color: #081E26;
    font-size: 1rem;
}

.box-new-password{
    display: flex;
    padding: 9px;
    font-size: 1.1rem;
    border:none;
    border-radius: 5px;
    background: rgb(205, 201, 201);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.container-buttons{
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-wrap: wrap; 
}

.logo-google{
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

#btn-google{
    display: flex;
    font-size: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: rgb(205, 201, 201);
}

.box-login-google{
    width: 80%;
    height: 9%;
    color: #081E26;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

#new-user{
    color: #081E26;
    font-size: 1rem;
}

#btn-register{
    margin-top: 20px;
    width: 80%;
    height: 9%;
    border-radius: 5px;
    border: none;
    background: rgb(205, 201, 201);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.footer-text{
    color: white;
    font-size: 0.9rem; 
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20%;
    padding: 5%;      
}

@media screen and (min-width: 960px){

    .box-login {  
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        height: 70%;
        text-align: center;
        overflow: auto;
        border-radius: 20px;
        background: rgb(237, 235, 235);
        background-image: url('../images/image_back_login.jpg');
        background-repeat: no-repeat;
        background-size: 50% 100%;
    }

    .box-content {
        width: 50%;
        display: flex;
        flex-direction: column;
    }

    .footer-text{
        color: #081E26;
        font-size: 1.1rem;
    }

    .name {
        color: #081E26;
        font-size: 1.2rem;
    }
}
